.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  padding-right: var(--page-padding);
  padding-left: var(--page-padding);
  padding-top: 36px;
  padding-bottom: 36px;

  > p {
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: bold;
  }

  > form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;

    gap: 4px;

    > fieldset {
      width: 100%;
      border: none;
      gap: 16px;

      > label {
        display: none;
      }

      > input {
        padding: 12px;
        outline: none;
        border: 1px solid gray;
        font-family: inherit;
        font-size: 1.2rem;
        border-radius: 4px;

        &:focus {
          border: none;
          outline: 1px solid var(--input-outline-color);
          filter: drop-shadow(0 0 2px gainsboro);
        }

        &:hover {
          outline: 1px solid var(--colorTertiary);
          border: none;
          filter: drop-shadow(0 0 2px gainsboro);
        }
      }
    }

    > input[type='submit'] {
      outline: none;
      font-size: 1.2rem;
      cursor: pointer;
      background-color: var(--cta-button-color);
      padding: 12px;
      border: none;
      color: var(--colorPrimary);
      border-radius: 4px;
      font-weight: bold;

      &:hover {
        background-color: var(--colorTertiary-a80);
        filter: drop-shadow(0 0 2px gainsboro);
      }

      &:focus {
        background-color: var(--cta-button-color);
        filter: drop-shadow(0 0 2px gainsboro);
      }
    }
  }
}
